*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: sans-serif;*/
}
/*header bölümü*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    line-height: 1.5em;
}
header,footer{
    background-color: #0c3866;
    color: #fff;
    text-align: center;
    padding-top:30px;
}
#main-menu a{
    display: block;
    color: #fff;
    text-decoration: none;
    display: flex;
    padding: 12px 10px;
}
#main-menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

/*Orta Bölüm Biçimlendirme*/
main{
    padding: 20PX;
    display: flex;
    gap: 20px;
    flex: auto;
}
#content{
    padding: 20px;
    background-color: #f3f4f7;
    border: solid #caccd1 1px;
    flex: 9;
}
#content p{
    margin-bottom: 10px;
    margin-top: 5px;
}
aside{
    padding: 20PX;
    background-color: #f3f4f7;
    border: solid #caccd1 1px;
    flex: 3;
}
aside ul{
    list-style: none;
}
aside h2{
    margin-bottom: 10px;
}
aside a{
    color: #000;
}

footer{
    padding-bottom: 30px;
}
